html, body{
	margin: 0;
}

a{
	color: #000;
}

/* Style du header */
.header{
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	height: 9vh;
	top: 0;
	left: 0;
	z-index: 10;
}

/* Style de la liste du header */
.header ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

/* Style des liens de la liste */
.header li a{
	font-family: 'Silkscreen', sans-serif;
	display: block;
	padding: 28px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
	user-select: none;
	opacity: 0.8;
}

/* Style pour le survol des liens */
.header li a:hover,
.header .menu-btn:hover{
	background-color: #f4f4f4;
	opacity: 1;
}

/* Style pour le logo du header */
.header .logo{
	font-family: 'Silkscreen', sans-serif;
	font-weight: 1000;
	display: block;
	float: left;
	font-size: 4.5vh;
	padding: 1.4vh 3vw;
	text-decoration: none;
	user-select: none;
}

/* Style pour le menu */
.header .menu{
	clear: both;
	max-height: 0;
	transition: max-height .5s ease-out;
	position: absolute;
	width: 100%;
	top: 100%;
}

/* Positionnement de l'icône du menu */
.header .menu-icon{
	cursor: pointer;
	float: right;
	padding: 4vh 3vw;
	position: relative;
	user-select: none;
}

/* Style pour l'icône du menu */
.header .menu-icon .navicon{
	background: #000;
	display: block;
	height: 2.8px;
	position: relative;
	transition: background .2s ease-out;
	width: 20px;
}

/* Style pour les barres de l'icône du menu avant / après */
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after{
	background: #000;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

/* Positionnement des barres de l'icône */
.header .menu-icon .navicon:before{
	top: 5px;
}
.header .menu-icon .navicon:after{
	top: -5px;
}

/* Cacher la checkbox pour l'activation du menu*/
.header .menu-btn{
	display: none;
}

/* Hauteur du menu lorsque la checkbox est cochée */
.header .menu-btn:checked ~ .menu{
	max-height: 300px;
}

/* Rendre transparante la barre du milieu de l'icon */
.header .menu-btn:checked ~ .menu-icon .navicon{
	background: transparent;
}

/* Création de la croix lorsque la checkbox est cochée par la rotation des 2 barres restantes*/
.header .menu-btn:checked ~ .menu-icon .navicon:before{
	transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after{
   	transform: rotate(45deg);
}

/* Correction de la croix */
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after{
  	top: 0;
}

/* Style du footer */
.footer{
	font-family: 'Silkscreen', sans-serif;
	width: 100%;
}

.footer ul{
	list-style: none;
	padding: 0;
	margin: 10;
}

.footer li{
	padding: 5px;
	text-align: center;
}
.footer li a{
	text-decoration: none;
	opacity: 0.8;
}

.footer li a:hover{
	opacity: 1;
}

/* Style pour les écrans supérieurs à 768px */
@media (min-width: 1024px){
	.header ul{
		height: 9vh;
		display: flex;
		justify-content: flex-end;
	}
	.header li{
		display: block;
	}
	.header li a{
		font-size: 2vh;
		padding: 3.2vh 2vw;
		user-select: none;
	}
	.header li a:hover{
		height: 9vh;
	}
	.header .menu{
		clear: none;
		float: right;
		max-height: none;
		position: relative;
		width: auto;
		top: auto;
	}
	.header .menu-icon{
		display: none;
	}
	.footer{
		height: 9vh;
	}
	.footer ul{
		text-align: center;
		justify-content: space-around;
		user-select: none;
	}
	.footer li{
		display: inline-block;
		padding: 2vh 1vw;
	}
	.footer li a{
		font-size: 2vh;	
	}
}
