.container {
	padding-top: 110px;
	background-image: url(../image/norme.jpg);
}

.norme {
	background-color: #ffffffef;
	border-radius: 50px;
	box-shadow: 2px 5px #e4e2e2;
	padding: 4vw;
	font-family: "Josefin Sans";
	width: 70dvw;
}

.container p {
	font-size: 1.2em;
	line-height: 25px;
}

.container li {
	font-size: 1.2em;
	line-height: 25px;
	padding : 5px;
}

.titre h1 {
	font-size: 2em;
	text-align: center;
	background-color: #d9e0e6;
	border-radius: 15px;
	box-shadow: 8px 5px #e4e2e2;
	padding: 15px;
}

.sep {
	text-align: center;
}

pre {
	white-space:pre-wrap;
}

code {
	display: block;
	padding: 12px;
	border-radius: 50px;
	box-shadow: 2px 5px 5px #e4e2e2;
	background:#f5f5f5ef;
	font-size: 1.2em;
       }

@media (min-width: 1024px) {
	.norme {
		width: 60dvw;
	}
}